.contact-area {
  padding-top: 120px;
  padding-bottom: 130px;
  background-color: #f4f6f7;
}

.contact-wrapper {
  .contact-title {
    font-size: 32px;
    font-weight: 700;
    color: #000;
  }
  @media (max-width: 767px) {
    .contact-title {
      font-size: 26px;
    }
  }
  .contact-title {
    i {
      color: #121212;
      margin-right: 8px;
    }
  }
  .contact-title {
    span {
      font-weight: 400;
    }
  }
}
